@use '@carbon/react/scss/type' as *;

@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.info-section__heading {
  @include type-style('heading-01');
  padding-bottom: $spacing-08;
}

.info-card {
  margin-top: $spacing-09;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;

  svg {
    margin-top: $spacing-09;
  }

  @include breakpoint(sm) {
    padding-left: 0;
  }

  div {
    flex-grow: 1; // fill space so icons are bottom aligned
  }

  // top border in only small breakpoints to prevent overrides
  @include breakpoint-down(lg) {
    padding-left: 0;
    margin-top: 0;
    flex-direction: row-reverse;

    &:not(:nth-child(2)) {
      padding-top: $spacing-10;
    }

    svg {
      margin-top: -0.25rem;
      margin-right: 2rem;
      min-width: 48px;
      min-height: 48px;
    }
  }

  @include breakpoint(lg) {
    margin-top: 0;
    padding-left: 0;

    &:not(:nth-child(2)) {
      border-left: 1px solid $border-subtle-01;
      padding-left: 1rem;
    }

    svg {
      margin-top: $spacing-12;
    }
  }

  // left border in all items
  @include breakpoint(xlg) {
    margin-top: 0;
    border-left: 1px solid $border-subtle-01;
    padding-left: 1rem;

    svg {
      margin-top: $spacing-12;
    }
  }
}

.info-card__heading {
  @include type-style('productive-heading-03');
}

.info-card__body {
  margin-top: $spacing-06;
  flex-grow: 1; // fill space so icons are bottom aligned
  @include type-style('body-long-01');

  // prevent large line lengths between small and medium viewports
  @include breakpoint-between(321px, md) {
    max-width: 75%;
  }
}
