@use '@carbon/react/scss/spacing' as *;
@use '@carbon/themes' as *;
@use '@carbon/react/scss/config' as *;

.repo-comms__r1,
.repo-comms__r3,
.repo-comms__r4,
.repo-comms__r5,
.repo-comms__r6 {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.repo-comms__r2 {
  padding-top: $spacing-05;
  color: $text-primary;
}

.repo-comms__r4 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.output-container {
  position: relative;
  // padding-top: 50px; // Reduced top padding
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; // Adds a little space between the header and the text area
}

.output-heading {
  font-size: 16px; // Smaller font size for the heading
  flex-grow: 1; // Allows the heading to take up necessary space pushing slug to the right
}

.slug-position {
  position: absolute;
  top: 0;
  right: 0;
}

.output-area {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: $text-primary;

  .bx--text-area {
    color: $text-primary;
  }

  .download-btn {
    align-self: flex-end;
    margin-top: 10px;
  }
}

// Responsive styles for smaller devices
@media (max-width: 768px) {
  .output-container {
    padding-top: 5px; // Smaller padding for smaller screens
  }

  .output-area {
    font-size: 12px; // Smaller font size for readability on small devices
  }
}

// Styling for custom accordion component
.my-accordion {
  margin-top: $spacing-05;
  margin-bottom: $spacing-05;
}
